<main class="row">
  <section class="col-md-2"></section>
  <section class="col-md-8">
    <div class="poker_table">
      <%=image_tag "/poker_images/table.png", class: "poker-table"%>
    </div>



    <ul id="messages">
    </ul>

    <form id="chat-form">
        <label>say something: <input type="text" name="comment"></label>
        <button type="submit" name="button">Submit</button>
    </form>
  </section>
</main>
